*{
    font-weight: normal;
}
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(photo-1524995997946-a1c2e315a42f.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.calculator-grid{
    box-sizing: border-box;
    min-height: 100vh;
    margin: 10px auto;
    padding: 12px;
}
.cl1{
   box-sizing: border-box;
   
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4 ,100px);
    grid-template-rows:minmax(120px, auto) repeat(5 ,100px);
}
.calculator-grid input{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #fff;
    outline: none;
    background-color: rgba(225, 225, 225, .75);
}
.calculator-grid input:hover{
    background-color: rgba(225, 225, 225, .9);
    
}
.span-two{
    grid-column: span 2 ;
}
#result{
    
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break:break-all ;
    color: rgba(225, 225, 225, .75);
    font-size: 1.5rem;
}

